<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.BoardDao">

	<resultMap type="web.dto.Board" id="Board">
		<id column="board_no" property="boardNo"/>
		<result column="writer_id" property="writerId"/>
		<result column="writer_nick" property="writerNick"/>
		<result column="write_date" property="writeDate"/>
	</resultMap>

	<select id="selectList" resultMap="Board" parameterType="web.util.Paging">
		SELECT * FROM (
			SELECT rownum rnum, B.* FROM (
				SELECT
					board_no, title, content
					, writer_id, writer_nick, hit, write_date
				FROM board
				ORDER BY board_no DESC
			) B
		) BOARD
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>

	<select id="selectCntAll" resultType="int">
		SELECT count(*) FROM board
	</select>
	
	<update id="hit" parameterType="web.dto.Board">
		UPDATE board
		SET hit = hit + 1
		WHERE board_no = #{boardNo }
	</update>
	
	<select id="selectBoardByBoardno" resultMap="Board" parameterType="web.dto.Board">
		SELECT
			board_no, title, content
			, writer_id, writer_nick, hit, write_date
		FROM board
		WHERE board_no = #{boardNo }
	</select>
	
	<insert id="insertBoard" parameterType="web.dto.Board">
		<selectKey order="BEFORE" resultType="int" keyProperty="boardNo">
			SELECT board_seq.nextval FROM dual
		</selectKey>
		
		INSERT INTO board ( board_no, title, content, writer_id, writer_nick )
		VALUES ( #{boardNo}, #{title}, #{content}, #{writerId}, #{writerNick} )
	</insert>
	
	<insert id="insertFile" parameterType="web.dto.Boardfile">
		INSERT INTO boardfile ( file_no, board_no, origin_name, stored_name )
		VALUES ( boardfile_seq.nextval, #{boardNo}, #{originName}, #{storedName} ) 
	</insert>

	<select id="selectBoardfileByBoardno" resultType="web.dto.Boardfile" parameterType="web.dto.Board">
		SELECT
			file_no, board_no, origin_name, stored_name
		FROM boardfile
		WHERE board_no = #{boardNo}
	</select>
	
	<select id="selectBoardfileByFileno" resultType="web.dto.Boardfile" parameterType="int">
		SELECT
			file_no, board_no, origin_name, stored_name
		FROM boardfile
		WHERE file_no = #{fileNo}
	</select>
	
	<delete id="deleteBoardFile" parameterType="web.dto.Board">
		DELETE FROM boardfile
		WHERE board_no = #{boardNo}
	</delete>
	
	<delete id="deleteBoard" parameterType="web.dto.Board">
		DELETE FROM board
		WHERE board_no = #{boardNo}
	</delete>
	
	<update id="updateBoard" parameterType="web.dto.Board">
		UPDATE board 
		SET title = #{title}, content = #{content}
		WHERE board_no = #{boardNo}
	</update>
	
</mapper>




















